# Credenciais de acesso à API do LinkedIn
# Obtenha em: https://www.linkedin.com/developers/
LINKEDIN_ACCESS_TOKEN="your_access_token_here"
LINKEDIN_AUTHOR_URN="urn:li:person:YOUR_PERSON_URN"

# Versão ativa da API REST do LinkedIn (formato YYYYMM)
# Versões ativas: 202608, 202607, 202606, etc.
LINKEDIN_VERSION="202608"
